.bodyup{
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
}
.prize{
    flex: 1; 
}

.img-prize{
    height: 100%;
    width: 100%;

}
.award{
    height: auto;
    flex: 2;
    font-size: 1rem;
}

.img-award{
    height: 100%;
    width: 100%;
}
 @media screen and (max-width:600px){
    .bodyup{
        display: flex;
        flex-direction: column-reverse;
    }
    .prize{
        height: 40%;
        width: 40%;
    }
    .award h5{
        font-size: 0.8rem;
    }
 }
